@import 'src/lib/yami.scss';

main {
    @include reset-size();
    font-family: $obs-font;
    height: 100%;
    width: 100%;
    padding-bottom: 2em;
}

.blocks, header {
    width: 100%;
    max-width: 600px;
}

.blocks {
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    box-sizing: border-box;
}

label {
    display: flex;
    flex-direction: column;
}

.block,
.plsadd {
    width: 100%;
    margin-bottom: 1em;
    padding: 1em;
    background-color: $obs-primaryDark;
    border-radius: 0.5em;
    box-sizing: border-box;
}