@font-face {
	font-family: 'Clicker Script';
	src: local('ClickerScript'), url(/fonts/FestaSJT/ClickerScript-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Benedict';
	src: local('Benedict'), url(/fonts/FestaSJT/Benedict.ttf) format('truetype');
}
