/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@font-face {
    font-family: 'Poppins Bold';
    src: local("Poppins"), url(/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: 'Cardo';
    src: local("Cardo"), url(/fonts/Cardo/Cardo-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: 'Lora Italic';
    src: local("Lora"), url(/fonts/Lora/Lora-Italic-VariableFont_wght.ttf) format("truetype");
  }
  @font-face {
    font-family: 'Lora';
    src: local("Lora"), url(/fonts/Lora/Lora-VariableFont_wght.ttf) format("truetype");
  }
  
  .cl-verde {
    background: linear-gradient(to bottom, rgba(47, 68, 0, 0) 0%,rgba(47, 68, 0, 1) 100%);
  }

  .cl-roxo {
    background: linear-gradient(to bottom, rgba(49, 47, 89, 0) 0%,rgba(49, 47, 89, 1) 100%);
  }

  .cl-vermelho {
    background: linear-gradient(to bottom, rgba(97, 43, 43, 0) 0%,rgb(97, 43, 43) 100%);
  }

  .cl-branco {
    background: linear-gradient(to bottom, rgba(97, 87, 43, 0) 0%,rgb(97, 84, 43) 100%);
  }