/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@font-face {
    font-family: 'Poppins Bold';
    src: local("Poppins"), url(/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: 'Cardo';
    src: local("Cardo"), url(/fonts/Cardo/Cardo-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: 'Lora Italic';
    src: local("Lora"), url(/fonts/Lora/Lora-Italic-VariableFont_wght.ttf) format("truetype");
  }
  @font-face {
    font-family: 'Lora';
    src: local("Lora"), url(/fonts/Lora/Lora-VariableFont_wght.ttf) format("truetype");
  }
  