/* Variables and mixins declared here will be available in all other SCSS files */
$main-title-color: #ffbd69;

@mixin headline {
	font-family: 'Poppins Bold';
	color: $main-title-color;
}

@mixin subtitle {
	font-family: 'Lora Italic';
	color: white;
}
