/* Variables and mixins declared here will be available in all other SCSS files */
$main-title-color: #FFBD69;
$font-shadow-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));

@mixin headline {
	font-family: 'Poppins Bold';
	color: $main-title-color;
}

@mixin subtitle {
	font-family: 'Lora Italic';
	color: white;
}

$obs-font: 'Open Sans', '.AppleSystemUIFont', Helvetica, Arial, 'MS Shell Dlg', sans-serif;

$obs-window: rgb(31,33,42);
$obs-windowText: rgb(255,254,255);

$obs-base: rgb(43,46,56);
$obs-alternateBase: rgb(11,10,11);

$obs-text: rgb(255,254,255);

$obs-button: rgb(60,64,75);
$obs-buttonText: rgb(255,254,255);

$obs-brightText: rgb(255,254,255);

$obs-light: rgb(88,87,88);
$obs-mid: rgb(31,33,42);
$obs-dark: rgb(43,46,56);
$obs-shadow: rgb(11,10,11);

$obs-primary: rgb(40,76,184);
$obs-primaryLight: rgb(54,92,192);
$obs-primaryDark: rgb(25,27,38);

$obs-highlight: rgb(42,130,218);
$obs-highlightText: rgb(255,254,255);

$obs-link: rgb(77,166,255);
$obs-linkVisited: rgb(77,166,255);

$sjt-title-color: #FFBD69;
$sjt-lower-third-background: #ffa800;
$sjt-dark-red: #a70000;